@import url('reset.css');

/* -----------------------------------------
   Video Page
----------------------------------------- */

body {

}
body.no-scroll {
  overflow: hidden;
}

#video-player {
  width: 640px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

#full-screen-backdrop {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: #000;
}

#docs {
  text-align: left;
  margin: 20px auto;
  width: 640px;
}

/* -----------------------------------------
   README Page
----------------------------------------- */

pre {
    font-family: courier, monospace;
}

.about {
	padding:20px;
}


